
/* Your CSS Code here. */
.holder{
    display: flex;
    background-color: dodgerblue;
    text-align: center;
    
    justify-content: center;
    align-items: center;
    height: 800px;
}

.holder > div{
    background-color: #f1f1f1;
    height: 100px;
    width: 100px;
  
}